<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>add outcome category</h2>
    <p>category Id = <%= id %></p>
    <form action="/addOutcomeCategory/<%= id %>" method="post">
        <label for="nameCategory">Name category</label>
        <input type="text" name="nameCategory" id="nameCategory">
        <button type="submit">submit</button>
    </form>
</body>
</html>